body {
  padding: 10px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.row {
  padding-bottom: 10px;
}
